#graph config
batch: 8
graph_file: models/emotion_classification.ng
dot_file: emotion_classification.dot

log_file: emotion_training.log

#data config
word2vec_bin: datasets/GloVE/glove.42B.300d.txt.bin
task: text_classification
train_dataset_file: datasets/emotion_train.csv
valdn_dataset_file: datasets/emotion_valdn.csv
one_hot_classes: 6

#trainer config
lr: 0.003
max_epochs: 300
#save_interval_batches: 100
#log_interval_batch: 50
#file_log_interval_batch: 40
#save_interval_epochs: 50
save_dir: runs
lr_sched: step
step_size: 400
factor: 0.95