#run config
run_name: Fat

#graph config
batch: 64
graph_file: models/obesity.ng
dot_file: obesity_classification.dot


#data config
task: classification
train_dataset_file: datasets/obesity_train.csv
valdn_dataset_file: datasets/obesity_valdn.csv
one_hot_classes: 7
normalize: true

#trainer config
lr: 0.006
adamW_factor: 0.0000
l1_lambda: 0.000
l2_lambda: 0.0
max_epochs: 300
#save_interval_batches: 100
#log_interval_batch: 50
#file_log_interval_batch: 40
#save_interval_epochs: 50
save_dir: runs
lr_sched: step
step_size: 400
step_lr_factor: 0.95