#graph config
batch: 32
graph_file: models/abalone.ng
dot_file: abalone.dot

#data config
train_dataset_file: datasets/abalone-train.csv
valdn_dataset_file: datasets/abalone-valdn.csv
normalize: true
target_columns: Sex
one_hot_classes: 3

#trainer config
lr: 0.001
max_epochs: 300
log_interval_batch: 50
file_log_interval_batch: 40
save_interval_epochs: 50
save_dir: runs
lr_sched: step
step_size: 500
factor: 0.975
